<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Gestion de Inventario</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="">Gestion de Inventario</a></li>
          <li class="breadcrumb-item active">AdminCP</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div id="appInventario" class="content">
  <div v-if="list == true" class="col-12">
    <div class="card card-primary">
      <div class="card-header">Information
      </div>
      <div class="card-body">
        <div class="justify-content-between">
          <a v-if="id_bodega != 0" :href="'rp_inventario/reporte_xls.php?id_bodega=' + id_bodega" class="float-right btn btn-success">XLS</a>
          <a v-if="id_bodega != 0" :href="'rp_inventario/reporte_print.php?id_bodega=' + id_bodega" class="float-right btn btn-info"><I class="fas fa-print"></I></a>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="form-group">
            <label>BODEGA(*):</label>
            <select @change="loadInventario(id_bodega)" class="form-control" v-model="id_bodega">
              <option selected value="all">TODO</option>
              <option v-for="result in array" v-bind:value="result.id">{{result.nombre}}</option>
            </select>
          </div>
        </div>

        <table id="list" class="table table-bordered table-hover">
          <thead>
            <tr class="text-center">
              <th>bt</th>
              <th>Codigo 1</th>
              <th>Codigo 2</th>
              <th>EAN</th>
              <th>Nombre</th>
              <th>Cliente</th>
              <th>Bodega</th>
              <th>Categoria</th>
              <th>Existencia</th>
              <th>CJ</th>
              <th>UMB</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody class="text-center">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- edit inventario -->
  <div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">EDITAR INVENTARIO</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form v-on:submit.prevent="submit">
          <div class="card-body text-center">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nombre del producto Id {{ producto.id_producto }}</label>
                  <input v-model="producto.nombre" type="text" class="form-control" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Umb</label>
                  <input v-model="producto.umb" type="number" class="form-control" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Cant</label>
                  <input type="hidden" v-model="producto.id_inventario">
                  <input v-model="producto.cantidad" type="number" class="form-control" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Estado</label>
                  <input v-model="producto.umb" type="checkbox" class="form-control" required>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
            <button type="submit" class="float-right btn btn-primary">Save changes</button>
          </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  <!-- edit inventario fin -->
</div>
