<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Gestion de kardex</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="">Gestion de kardex</a></li>
          <li class="breadcrumb-item active">AdminCP</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div id="kardex" class="content">
  <div v-if="list == true" class="col-12">
    <div class="card card-primary">
      <div class="card-header">Information</div>
      <div class="card-body">
        <h4>KARDEX DE INVENTARIO</h4>
        <div class="col-lg-6 col-md-4">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label>Por favor ingrese el codigo del producto que deseas ver su kardex de inventario</label>
                <input @keyup="search(txt)" class="form-control" v-model="txt" type="search">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="card table-responsive">
                <table class="table table-bordered text-nowrap text-center">
                  <th>Ean</th>
                  <th>Nombre</th>
                  <th>Option</th>
                  <tbody>
                    <tr v-for="(object_search, index) in list_search" :key="object_search.id">
                      <td>{{ object_search.ean }}</td>
                      <td>{{ object_search.nombre }}</td>
                      <td><button @click="find(object_search.id)" class="btn btn-info" type="button" name="button"><i class="fas fa-plus"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <table id="list" class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th colspan="3"></th>
              <th>ENTRADA</th>
              <th>SALIDA</th>
              <th>ENTRADA - SALIDA</th>
              <th>SALDO</th>
            </tr>
            <tr>
              <th>FECHA</th>
              <th>EAN</th>
              <th>PRUDUCTO</th>
              <th>CANTIDAD</th>
              <th>CANTIDAD</th>
              <th>CANTIDAD</th>
              <th>CANTIDAD</th>
            </tr>
          </thead>
          <tbody >
            <tr v-for="(object_kardex, index) in list_kardex" :key="object_kardex.p_id">
              <td><button @click="deleteFind(index)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button> <button class="btn btn-info" type="button" name="button"><i class="fas fa-print"></i></button></td>
              <td>{{ object_kardex.p_ean }}</td>
              <td>{{ object_kardex.p_nombre }}</td>
              <td>{{ object_kardex.e_cantidad }}</td>
              <td>{{ object_kardex.s_cantidad }}</td>
              <td>{{ object_kardex.es_cantidad }}</td>
              <td>{{ object_kardex.i_cantidad }}</td>
            </tr>
          </tbody>
          <tfoot>
            <th colspan="6"></th>
            <th>TOTAL</th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
