<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Gestion de Productos</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="">Gestion de Productos</a></li>
          <li class="breadcrumb-item active">AdminCP</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div id="appProducto" class="content">
  <div v-if="list == true" class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">Information
        <button @click="newbutton" class="btn btn-sm btn-default float-right"><i class="fas fa-plus"></i></button>
      </div>
      <div class="card-body">
        <table id="list" class="table table-bordered table-hover">
          <thead>
            <tr class="text-center">
              <th>Tools</th>
              <th>Codigo interno</th>
              <th>Codigo Cliente</th>
              <th>EAN</th>
              <th>Nombre</th>
              <th>UMB</th>
              <th>Cliente / Bodega</th>
              <th>Tipo Producto</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody class="text-center">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div v-if="form == true" class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5>{{ Modulo }}</h5>
            <span class="badge badge-warning">CODIGO: {{ productos.codigo}}</span>
            <button @click="randCode(6)" class="btn btn-sm btn-default" type="button"><i class="fas fa-sync"></i></button>
            <button @click="cancel" data-toggle="modal" class="btn btn-sm btn-default float-right"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
        <div>
          <form @submit.prevent="submitBtn">
            <div class="card-body row text-center">
              <input v-model="productos.id" type="hidden">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Codigo 1(*)</label>
                  <input v-model="productos.codigo" type="hidden">
                  <input @keyup.tab="keyNa()" style="text-align:center;" v-model="productos.code1" type="text" class="form-control" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Codigo 2(*)</label>
                  <input @keyup.tab="keyNa()" style="text-align:center;" v-model="productos.code2" type="text" class="form-control" required autocomplete="additional-name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>EAN(*)</label>
                  <input style="text-align:center;" v-model="productos.ean" type="text" class="form-control" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nombre producto(*)</label>
                  <input style="text-align:center;" v-model="productos.nombre" type="text" class="form-control" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>ud. / uds.(*)</label>
                  <input style="text-align:center;" v-model="productos.umb" type="text" class="form-control" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tipo de producto(*)</label>
                  <select style="text-align:center;" class="form-control" v-model="productos.id_categoria">
                    <option v-for="resultCategoria in arraycategoria" v-bind:value="resultCategoria.id">{{resultCategoria.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Bodega(*)</label>
                  <select style="text-align:center;" class="form-control" v-model="productos.id_bodega">
                    <option v-for="resultbodega in arraybodega" v-bind:value="resultbodega.id">{{resultbodega.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Estampilla(*)</label>
                  <select style="text-align:center;" class="form-control" v-model="productos.estampilla">
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                    <option value="N/A">N/A</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <div class="forn-group">
                  <label>Habilitado</label>
                  <input class="form-control" type="checkbox" id="checkbox1" v-model="productos.status">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="float-right btn btn-primary" type="submit" name="button">Guardar</button>
              <button @click="cancel" class="float-left btn btn-default" type="button" name="button">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
